<header class="header">

    <section class="flex">

        <div class="fas fa-bars-staggered" id="menu-btn"></div>
        <a href="#" class="logo"><i class="fa-solid fa-briefcase"></i>IvoirFund</a>

        <nav class="navbar">
            <a routerLink="accueil"> Accueil</a>
            <a routerLink="projets">Tous les projets</a>
            <a href="#">Contact</a>
            <a href="#">Mon Compte</a>
        </nav>

        <a href="#" class="btn"style="margin-top:0;">Lancer mon projet</a>
    </section>
    
</header>
<router-outlet></router-outlet>