<div class="container">
    <div class="cards"*ngFor="let project of projects">
        <!-- <pre>{{ project | json }}</pre> -->
        <div class="image">
            <img src="../../../assets/img/undraw_Projections_re_ulc6.png" alt="" class="mainImg" />
            <div>
               <p>15 Contributions</p>
            </div>
        </div>
        <h3> {{project.title}} </h3>
        <div class="description">
            {{project.category_name}}
            <p>{{project.type_name}}</p>
        </div>
        <div class="price-days">
            <div class="price">
                <img src="images/icon-ethereum.svg" alt="">
                {{formatNumber(project.funding_goal)}} CFA
            </div>
            <div class="days">
                <i class="fas fa-clock"></i>
                {{ getDaysBetweenDates(project.creation_date, project.end_date) }} restants
            </div>  
        </div>
        <div class="creator">
            <img src="images/image-avatar.png" alt="" class="avatar"> 
            Créé par<span> {{ project.user_name }}</span>
        </div> 
    </div>
</div>