<div class="account-form-container">
    <section class="account-form">

        <form action="" method="post" [formGroup]='registerForm'(submit)="register()" autocomplete="off">
            <h3>S'inscrire</h3>
            <input type="text" required name="name" maxlength="60" placeholder="Entrez votre nom ou nom de l'entreprise" class="input" formControlName="name">
            <input type="email" required name="email" placeholder="Entrez votre email" class="input"formControlName="email">
            <input type="password" required name="password" maxlength="50" placeholder="entrez un mot de passe" maxLength="50" class="input" formControlName="password">
            <input type="password" required name="c_password" maxlength="50" placeholder="Confirmer votre mot de passe" maxLength="50" class="input">
            <p>Vous avez un compte? <a href="/login">Connectez vous</a></p>
            <input type="submit" required name="inscrire" value="Continuer"class="btn">
            <br>
            <div *ngIf="success" style="color: green;">Enregistrement réussi <a routerLink="/login" >Login</a></div>
    <p *ngIf="errMessage" style="color: red;" class="alert alert-danger alert-dismissible fade show">{{errMessage}}</p>
        </form>

    </section>
</div>