<div class="account-form-container">
    <section class="account-form">

        <form action="" method="post">
            <h3>Se connecter</h3>
            <input type="text" required name="name" maxlength="60" placeholder="Entrez votre nom" class="input">
            <input type="password" required name="password" maxlength="50" placeholder="entrez votre mot de passe" maxLength="50" class="input">
            <p>Vous n'avez pas encore de compte? <a href="/register">S'inscrire maintenant</a></p>
            <!-- <input type="submit" required name="connexion" value="Continuer"class="btn"> -->
            <a href="/compte" class="btn">Continuer</a>
        </form>

    </section>
</div>