<div class="home-container">
    <section class="home">
        <div class="description">
            <h2>Concrétiser <span class="marque">les bonnes idées</span> </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, rerum, accusamus corporis minus tempore quod harum commodi hic totam ad eum nulla assumenda tempora illum consequatur sequi consequuntur fugit soluta.</p>
        </div>
        <div class="btns">
            <a routerLink="/projets"class="btn classique">Decouvrir les projets</a>
            <a href="#" class="btn project">Lancer mon projet</a>
        </div>
    </section>

</div>

