<div class="box-container">
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
    <a href="#" class="box">
        <i class="fa-solid fa-microchip"></i>
        <div>
            <h3>Technologies</h3>
            <span>30 projets</span>
        </div>
    </a>
</div>